html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #d1d1d1;
  font-family: "Segoe UI","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  max-width: 100vw;
}

footer {
  font-size: 0.9em;
  text-align: center;
}

.logo {
  margin: 10vh 5vw;
  letter-spacing: 0.05em;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 3em;
  display: flex;
  align-items: baseline;
}

.container {
  color: black;
  font-size: 1.2em;

  position: relative;
  z-index: 1;
  width: 90vw;
  margin: 1vh auto 5vh;
  padding: 0.2em;

  background: white;

  border-radius: 0.1em;
  box-shadow: 0.1em 0.1em 0.3em rgba(13, 4, 1, 0.4);

  overflow: hidden;

  transition: all .1s ease-in;
}

.container p {
  word-wrap: break-word;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-item {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  transition: all .1s ease-in;
}

.menu-item:hover {
  background-color: black;
  color: white;
}

.menu-item-active {
  border-bottom: 1px solid black;
}

.img-container {
  float: right;
  width: 20vw;
  margin-left: 2vw;
  padding-left: 2vw;
  border-left: 1px solid black;
}

img {
  max-width: 400px;
}

@media all and (max-width: 599px) {
  .img-container {
    text-align: center;
    float: center;
    width: 100%;
    margin: 1em 0;
    border-left: none;
    padding: 0;
  }

  .logo {
    margin: 2vh 5vw 0;
    flex-direction: column;
  }

  .content {
    text-align: center;
  }

  th {
    text-align: center;
  }
}

.img-circle {
  border-radius: 50%;
  -o-object-fit: contain;
  width: 100%;
  height: auto;
  overflow: hidden;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

.subtitle {
  display: block;
  text-decoration: underline;
  font-size: 1em;
  margin-bottom: 0.1em;
}

.list {
  font-size: 0.7em;
}

.letters {
  font-size: 0.4em;
  font-variant: small-caps;
}

.content .letters {
  font-size: 0.7em;
}

.letters .letters-pair {
  white-space: nowrap;
}

.emph {
  font-weight: 400;
}

.inner, .menu {
  margin: 1em 2em;
}

a {
  color: black;
  transition: all 0.1s ease-in;
}

a:hover {
  color: #ff8300;
}

button {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 0.3em;
  padding: 1em;
  cursor: pointer;
  transition: all .1s ease-in;
  font-size: 0.7em;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: black;
  color: white;
}

table {
  border-collapse: collapse;
}

th {
  padding: 0.5em;
  min-width: 10vw;
  font-weight: 300;
  text-align: left;
  border-bottom: 1px solid black;
}

td {
  margin: 0;
  padding: 0.5em;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

td:first-child {
  border-left: none;
}

tr:last-child td {
  border-bottom: none;
}

.hide {
  display: none;
}
